---
# This manifest is responsible for creating the Secret the CoreOS Prometheus
# Operator requires to configure Alertmanager instances:
# https://coreos.com/operators/prometheus/docs/latest/user-guides/alerting.html.
# It must be a secret because `alertmanager.yaml` could contain sensitive
# tokens. We check the `.sample` file into source control, so do not write any
# secrets there; rather, use `envsubst` to generate the actual Secret manifest
# as described in the README.md. The Secret manifest file should not be written
# to source control.
apiVersion: v1
kind: Secret
metadata:
  # The Prometheus Operator requires we use the format `alertmanager-NAME`, and
  # for us, our Alertmanager is named `alertmanager`.
  name: alertmanager-alertmanager
data:
  # The base64 encoded configuration file for our Alertmanager (without any line
  # breaks).
  alertmanager.yaml: ${ALERTMANAGER_YAML_BASE64}
