# We "pre-encode" this value as base64, instead of doing during the helm
# templating, because it is an entire Yaml file. Its extremely difficult to
# properly format an entire yaml file for helm templating, so instead we just
# convert it to base64 early in the process.
alertmanagerYamlBase64: $ALERTMANAGER_YAML_BASE64
