adminUsername: $NEXTCLOUD_ADMIN_USERNAME
adminPassword: $NEXTCLOUD_ADMIN_PASSWORD
personalUsername: $NEXTCLOUD_PERSONAL_USERNAME
personalPassword: $NEXTCLOUD_PERSONAL_PASSWORD

postgresql:
  postgresqlDatabase: $POSTGRES_DATABASE
  postgresqlUsername: $POSTGRES_USERNAME
  postgresqlPassword: $POSTGRES_PASSWORD
